webservicescenario/Concrete JmsWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1684739311931/OperationImpl" xmlns:ns0="http://www.tibco.com/schemas/webservicescenario/Schema.xsd2" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1684739311931/OperationImpl">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/webservicescenario/Schema.xsd2" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/schemas/webservicescenario/Schema.xsd2">
            <xs:element name="Address" type="xs:string"/>
            <xs:element name="Contact" type="xs:int"/>
            <xs:element name="Designation" type="xs:string"/>
            <xs:element name="Fathername" type="xs:string"/>
            <xs:element name="Id" type="xs:string"/>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Pin" type="xs:int"/>
            <xs:element name="PoliceReq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Id"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PoliceRes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Name"/>
                        <xs:element ref="ns0:Id"/>
                        <xs:element ref="ns0:Designation"/>
                        <xs:element ref="ns0:Fathername"/>
                        <xs:element ref="ns0:Address"/>
                        <xs:element ref="ns0:Pin"/>
                        <xs:element ref="ns0:Contact"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns0:PoliceRes"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="jmsporttypeoperation">
        <wsdl:port binding="tns:SOAPEventSourceBinding" name="SOAPEventSource">
            <soap:address location=""/>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">yogi</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:ReqMessage"/>
            <wsdl:output message="tns:ResMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPEventSourceBinding" type="tns:PortType">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Operation">
            <soap:operation soapAction="/jmsporttypeoperation" style="document"/>
            <wsdl:input>
                <soap:body parts="part1" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="part1" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="ReqMessage">
        <wsdl:part element="ns0:PoliceReq" name="part1"/>
    </wsdl:message>
    <wsdl:message name="ResMessage">
        <wsdl:part element="ns0:root" name="part1"/>
    </wsdl:message>
</wsdl:definitions>